<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>394804303151-hdf1upok3acpn7pp77l93bpfr7dfr5im.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394804303151-hdf1upok3acpn7pp77l93bpfr7dfr5im</string>
	<key>GCM_SENDER_ID</key>
	<string>394804303151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jt.Stoury</string>
	<key>PROJECT_ID</key>
	<string>stoury-c55b9</string>
	<key>STORAGE_BUCKET</key>
	<string>stoury-c55b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:394804303151:ios:a7b63593e8814bc8</string>
	<key>DATABASE_URL</key>
	<string>https://stoury-c55b9.firebaseio.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlgY9ezYOilwHJjBYM0mI_IEyw7ZbCmc0</string>
</dict>
</plist>
